* {
    box-sizing: border-box;
    line-height: 1.2;
}

body {
    margin: 0;
    padding: 0;
}

.img-responsive {
    background-image: url("../images/BG-train-1.jpg");
    background: linear-gradient(to bottom, rgba(143, 62, 0, 0.5), rgba(255, 255, 255, 0)), url("../images/BG-train-1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* Elements */
i {
    margin-right: .4rem;
}

/* Jumbotron */
.jumbotron-fluid {
    margin-top: 3rem;
    background: none;
    height: 12rem;
}

#trainLogo {
    width: 50%;
    margin: 0 auto;
}

/* Schedule Card */
/* Table */
#trainTable td,
#trainTable th {
    margin: .6rem auto;
}

#trainTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#trainTable tr:hover {
    background-color: #ddd;
}

#trainTable th {
    text-align: left;
    background-color: #dc3545!important;
    color: white;
}

.min {
    text-align: center;
}

#trainTable #times {
    text-align: center;
}

.card-header {
    background:#991220 !important;
}

/* TIMER */
/* Card */
#timeColumn {
    margin: 1rem 0 0 auto;
} 

#timeCard  {
    background: none;
    border: .1rem solid white;
}

#timeText {
    font-weight: initial;
    font-size: 20px;
}

#currentTime {
    margin-top: .4rem;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* mediaquery fixed the table content from going out of the card bounds  on small devices*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

    * {
        text-align: center;
    }

    .jumbotron-fluid {
        height: 4rem;
        margin-bottom: 2rem;
    }

    #trainLogo {
        width: 70%;
        margin: 0 auto;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }

    tr:nth-child(odd) {
        background: #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}